* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
}

#container-header {
    display: flex;
    justify-content: space-between; /* trái - phải */
    align-items: center;
    margin: 20px 0;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-btn{
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

h1 {
    margin: 20px 0;
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}
.card h2 {
    margin-bottom: 10px;
}
#contactForm {
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.categoryLanguage {
    width: 200px;
}

#contactForm input,
#contactForm select {
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.row input{
    margin: 0;
}
.row div{
    display: flex;
    flex-direction: column;
}

.btn-group {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background: black;
    color: white;
}

button[type="reset"] {
    background: #ddd;
}

.contact {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 5px;
}

.delete {
    color: red;
    border: 1px solid red;
    background: none;
}
label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4px;
}
.error {
    color: red;
    font-size: 13px;
    height: 14px; /* giữ layout không bị nhảy */
    display: block;
}